[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
pre-commit = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
djangorestframework-gis = "*"
django-filter = "*"
rest-framework-simplejwt = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.13"
