[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
pre-commit = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
djangorestframework-gis = "*"
django-filter = "*"
rest-framework-simplejwt = "*"
django-celery-results = "*"
django-celery-beat = "*"
pytz = "*"
requests = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
black = "*"
flake8 = "*"
isort = "*"
bandit = "*"

[requires]
python_version = "3.13"
